<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/blog.css">
</head>
<body>
    <div id="container">
        <div id="container1">
            <div><img src=<%= foundReader.image %> alt=""></div>
            <div>
                <h3><%= foundReader.fullname %></h3>
                <p>@<%= foundReader.username %></p>
            </div>
        </div>
        <div id="container2">
            <div id="head"><h1>ARTICLES</h1></div>
            <hr>
            <div id="articles">
                <% foundArticle.forEach(element => { %>
                 <div>
                    <div id="articles1"><img src=<%= element.image %> alt="article image"></div>
                    <div id="details">
                        <h3><%= element.title %></h3>
                        <h4>Author: <%= element.fullname %></h4>
                        <h4>Category: <%= element.category %></h4>
                        <p><%= element.description.substring(0, 300) + "... " %><a href=/<%= element._id %>>see more</a></p>
                    </div>
                 </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>